<!-- when a user gets logged in or clicks to view lists, routes to 'list/index'
 -->
<h1> Welcome Home! <%= current_user.email if !current_user.nil? %></h1>
  <%= form_for(@list) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>


 

 
 
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "About", about_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => "delete" %>