<ul>
  <h3><%= @list.name %></h3>
    <%= form_for([@list, Task.new]) do |f| %>
      <%= f.text_field :name, placeholder: "Create a task" %>
      <%= f. submit %>
    <% end %>

  <input class="toggle-all" type="checkbox">
  <label for="toggle-all">Mark as complete:</label>
  <ul>
    <li><%= render @list.tasks %></li>
    <%= button_to "Task Complete?", list_tasks_path, :method => "delete", :class => "destroy" %>
  </ul>
</ul>